// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as ContentfulViewDelivery from "../../../../../index.js";

export declare namespace ExperienceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ExperienceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ExperienceClient.Options>;

    constructor(options: ExperienceClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} spaceId
     * @param {string} environmentId
     * @param {string} id
     * @param {ContentfulViewDelivery.release.GetExperienceRequest} request
     * @param {ExperienceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContentfulViewDelivery.BadRequestError}
     * @throws {@link ContentfulViewDelivery.UnauthorizedError}
     * @throws {@link ContentfulViewDelivery.ForbiddenError}
     * @throws {@link ContentfulViewDelivery.NotFoundError}
     * @throws {@link ContentfulViewDelivery.ConflictError}
     * @throws {@link ContentfulViewDelivery.UnprocessableEntityError}
     * @throws {@link ContentfulViewDelivery.InternalServerError}
     *
     * @example
     *     await client.release.experience.get("spaceId", "environmentId", "id", {
     *         accessToken: "access_token",
     *         releaseLte: "release[lte]",
     *         timestampLte: "timestamp[lte]",
     *         locale: "locale"
     *     })
     */
    public get(
        spaceId: string,
        environmentId: string,
        id: string,
        request: ContentfulViewDelivery.release.GetExperienceRequest = {},
        requestOptions?: ExperienceClient.RequestOptions,
    ): core.HttpResponsePromise<ContentfulViewDelivery.HydratedView> {
        return core.HttpResponsePromise.fromPromise(this.__get(spaceId, environmentId, id, request, requestOptions));
    }

    private async __get(
        spaceId: string,
        environmentId: string,
        id: string,
        request: ContentfulViewDelivery.release.GetExperienceRequest = {},
        requestOptions?: ExperienceClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContentfulViewDelivery.HydratedView>> {
        const { accessToken, releaseLte, timestampLte, locale } = request;
        const _queryParams: Record<string, unknown> = {
            access_token: accessToken,
            "release[lte]": releaseLte,
            "timestamp[lte]": timestampLte,
            locale,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulViewDeliveryEnvironment.Default,
                `spaces/${core.url.encodePathParam(spaceId)}/environments/${core.url.encodePathParam(environmentId)}/timeline/experiences/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.HydratedView.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContentfulViewDelivery.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new ContentfulViewDelivery.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new ContentfulViewDelivery.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ContentfulViewDelivery.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new ContentfulViewDelivery.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ContentfulViewDelivery.UnprocessableEntityError(
                        _response.error.body,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ContentfulViewDelivery.InternalServerError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ContentfulViewDeliveryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spaces/{spaceId}/environments/{environmentId}/timeline/experiences/{id}",
        );
    }
}
