// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as ContentfulViewDelivery from "../../../index.js";

export declare namespace DestinationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DestinationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DestinationClient.Options>;

    constructor(options: DestinationClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} spaceId - ID of the space.
     * @param {string} destinationId - ID of the published Destination.
     * @param {ContentfulViewDelivery.SitemapDestinationRequest} request
     * @param {DestinationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContentfulViewDelivery.BadRequestError}
     * @throws {@link ContentfulViewDelivery.UnauthorizedError}
     * @throws {@link ContentfulViewDelivery.ForbiddenError}
     * @throws {@link ContentfulViewDelivery.NotFoundError}
     * @throws {@link ContentfulViewDelivery.ConflictError}
     * @throws {@link ContentfulViewDelivery.UnprocessableEntityError}
     * @throws {@link ContentfulViewDelivery.InternalServerError}
     *
     * @example
     *     await client.destination.sitemap("yadj1kx9rmg0", "4RqKkGJqLHpMiomHuILv5N", {
     *         limit: 1,
     *         pageNext: "pageNext",
     *         pagePrev: "pagePrev"
     *     })
     */
    public sitemap(
        spaceId: string,
        destinationId: string,
        request: ContentfulViewDelivery.SitemapDestinationRequest = {},
        requestOptions?: DestinationClient.RequestOptions,
    ): core.HttpResponsePromise<ContentfulViewDelivery.DestinationSitemap> {
        return core.HttpResponsePromise.fromPromise(this.__sitemap(spaceId, destinationId, request, requestOptions));
    }

    private async __sitemap(
        spaceId: string,
        destinationId: string,
        request: ContentfulViewDelivery.SitemapDestinationRequest = {},
        requestOptions?: DestinationClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContentfulViewDelivery.DestinationSitemap>> {
        const { limit, pageNext, pagePrev } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            pageNext,
            pagePrev,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-contentful-enable-alpha-feature":
                    requestOptions?.xContentfulEnableAlphaFeature ?? "new-exo-entity-types",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulViewDeliveryEnvironment.Default,
                `spaces/${core.url.encodePathParam(spaceId)}/destinations/${core.url.encodePathParam(destinationId)}/sitemap`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DestinationSitemap.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContentfulViewDelivery.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new ContentfulViewDelivery.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new ContentfulViewDelivery.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ContentfulViewDelivery.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new ContentfulViewDelivery.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ContentfulViewDelivery.UnprocessableEntityError(
                        _response.error.body,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ContentfulViewDelivery.InternalServerError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ContentfulViewDeliveryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spaces/{spaceId}/destinations/{destinationId}/sitemap",
        );
    }

    /**
     * @param {string} spaceId - ID of the space.
     * @param {string} destinationId - ID of the published Destination.
     * @param {string} nodeId - ID of the Destination Node to resolve.
     * @param {DestinationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContentfulViewDelivery.BadRequestError}
     * @throws {@link ContentfulViewDelivery.UnauthorizedError}
     * @throws {@link ContentfulViewDelivery.ForbiddenError}
     * @throws {@link ContentfulViewDelivery.NotFoundError}
     * @throws {@link ContentfulViewDelivery.ConflictError}
     * @throws {@link ContentfulViewDelivery.UnprocessableEntityError}
     * @throws {@link ContentfulViewDelivery.InternalServerError}
     *
     * @example
     *     await client.destination.resolveByNodeId("yadj1kx9rmg0", "4RqKkGJqLHpMiomHuILv5N", "6BslKh9TdKGOK41VmLDjFZ")
     */
    public resolveByNodeId(
        spaceId: string,
        destinationId: string,
        nodeId: string,
        requestOptions?: DestinationClient.RequestOptions,
    ): core.HttpResponsePromise<ContentfulViewDelivery.DestinationExperienceResolutionResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__resolveByNodeId(spaceId, destinationId, nodeId, requestOptions),
        );
    }

    private async __resolveByNodeId(
        spaceId: string,
        destinationId: string,
        nodeId: string,
        requestOptions?: DestinationClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContentfulViewDelivery.DestinationExperienceResolutionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-contentful-enable-alpha-feature":
                    requestOptions?.xContentfulEnableAlphaFeature ?? "new-exo-entity-types",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulViewDeliveryEnvironment.Default,
                `spaces/${core.url.encodePathParam(spaceId)}/destinations/${core.url.encodePathParam(destinationId)}/nodes/${core.url.encodePathParam(nodeId)}/experiences`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DestinationExperienceResolutionResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContentfulViewDelivery.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new ContentfulViewDelivery.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new ContentfulViewDelivery.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ContentfulViewDelivery.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new ContentfulViewDelivery.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ContentfulViewDelivery.UnprocessableEntityError(
                        _response.error.body,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ContentfulViewDelivery.InternalServerError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ContentfulViewDeliveryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spaces/{spaceId}/destinations/{destinationId}/nodes/{nodeId}/experiences",
        );
    }

    /**
     * @param {string} spaceId - ID of the space.
     * @param {string} destinationId - ID of the published Destination.
     * @param {string} nodeId - ID of the Destination Node to resolve.
     * @param {ContentfulViewDelivery.DestinationExperiencesByNodeRequest} request
     * @param {DestinationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContentfulViewDelivery.BadRequestError}
     * @throws {@link ContentfulViewDelivery.UnauthorizedError}
     * @throws {@link ContentfulViewDelivery.ForbiddenError}
     * @throws {@link ContentfulViewDelivery.NotFoundError}
     * @throws {@link ContentfulViewDelivery.ConflictError}
     * @throws {@link ContentfulViewDelivery.UnprocessableEntityError}
     * @throws {@link ContentfulViewDelivery.InternalServerError}
     *
     * @example
     *     await client.destination.resolveByNodeIdWithOverrides("yadj1kx9rmg0", "4RqKkGJqLHpMiomHuILv5N", "6BslKh9TdKGOK41VmLDjFZ")
     */
    public resolveByNodeIdWithOverrides(
        spaceId: string,
        destinationId: string,
        nodeId: string,
        request: ContentfulViewDelivery.DestinationExperiencesByNodeRequest = {},
        requestOptions?: DestinationClient.RequestOptions,
    ): core.HttpResponsePromise<ContentfulViewDelivery.DestinationExperienceResolutionResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__resolveByNodeIdWithOverrides(spaceId, destinationId, nodeId, request, requestOptions),
        );
    }

    private async __resolveByNodeIdWithOverrides(
        spaceId: string,
        destinationId: string,
        nodeId: string,
        request: ContentfulViewDelivery.DestinationExperiencesByNodeRequest = {},
        requestOptions?: DestinationClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContentfulViewDelivery.DestinationExperienceResolutionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-contentful-enable-alpha-feature":
                    requestOptions?.xContentfulEnableAlphaFeature ?? "new-exo-entity-types",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulViewDeliveryEnvironment.Default,
                `spaces/${core.url.encodePathParam(spaceId)}/destinations/${core.url.encodePathParam(destinationId)}/nodes/${core.url.encodePathParam(nodeId)}/experiences`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.DestinationExperiencesByNodeRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DestinationExperienceResolutionResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContentfulViewDelivery.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new ContentfulViewDelivery.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new ContentfulViewDelivery.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ContentfulViewDelivery.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new ContentfulViewDelivery.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ContentfulViewDelivery.UnprocessableEntityError(
                        _response.error.body,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ContentfulViewDelivery.InternalServerError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ContentfulViewDeliveryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spaces/{spaceId}/destinations/{destinationId}/nodes/{nodeId}/experiences",
        );
    }

    /**
     * @param {string} spaceId - ID of the space.
     * @param {string} destinationId - ID of the published Destination.
     * @param {ContentfulViewDelivery.DestinationExperiencesByPathRequest} request
     * @param {DestinationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContentfulViewDelivery.BadRequestError}
     * @throws {@link ContentfulViewDelivery.UnauthorizedError}
     * @throws {@link ContentfulViewDelivery.ForbiddenError}
     * @throws {@link ContentfulViewDelivery.NotFoundError}
     * @throws {@link ContentfulViewDelivery.ConflictError}
     * @throws {@link ContentfulViewDelivery.UnprocessableEntityError}
     * @throws {@link ContentfulViewDelivery.InternalServerError}
     *
     * @example
     *     await client.destination.resolveByPath("yadj1kx9rmg0", "4RqKkGJqLHpMiomHuILv5N", {
     *         path: "/products"
     *     })
     */
    public resolveByPath(
        spaceId: string,
        destinationId: string,
        request: ContentfulViewDelivery.DestinationExperiencesByPathRequest,
        requestOptions?: DestinationClient.RequestOptions,
    ): core.HttpResponsePromise<ContentfulViewDelivery.DestinationExperienceResolutionResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__resolveByPath(spaceId, destinationId, request, requestOptions),
        );
    }

    private async __resolveByPath(
        spaceId: string,
        destinationId: string,
        request: ContentfulViewDelivery.DestinationExperiencesByPathRequest,
        requestOptions?: DestinationClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContentfulViewDelivery.DestinationExperienceResolutionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-contentful-enable-alpha-feature":
                    requestOptions?.xContentfulEnableAlphaFeature ?? "new-exo-entity-types",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulViewDeliveryEnvironment.Default,
                `spaces/${core.url.encodePathParam(spaceId)}/destinations/${core.url.encodePathParam(destinationId)}/experiences`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.DestinationExperiencesByPathRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DestinationExperienceResolutionResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContentfulViewDelivery.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new ContentfulViewDelivery.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new ContentfulViewDelivery.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ContentfulViewDelivery.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new ContentfulViewDelivery.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ContentfulViewDelivery.UnprocessableEntityError(
                        _response.error.body,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ContentfulViewDelivery.InternalServerError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ContentfulViewDeliveryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spaces/{spaceId}/destinations/{destinationId}/experiences",
        );
    }
}
