// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as ContentfulViewDelivery from "../../../index.js";

export declare namespace ViewClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Endpoints that return hydrated Views (a.k.a. Experiences).
 */
export class ViewClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ViewClient.Options>;

    constructor(options: ViewClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} spaceId
     * @param {string} environmentId
     * @param {string} id
     * @param {ContentfulViewDelivery.GetExperienceViewRequest} request
     * @param {ViewClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContentfulViewDelivery.BadRequestError}
     * @throws {@link ContentfulViewDelivery.UnauthorizedError}
     * @throws {@link ContentfulViewDelivery.ForbiddenError}
     * @throws {@link ContentfulViewDelivery.NotFoundError}
     * @throws {@link ContentfulViewDelivery.ConflictError}
     * @throws {@link ContentfulViewDelivery.UnprocessableEntityError}
     * @throws {@link ContentfulViewDelivery.InternalServerError}
     *
     * @example
     *     await client.view.getExperience("spaceId", "environmentId", "id", {
     *         preview: "true",
     *         accessToken: "access_token",
     *         optimizationProfileId: "optimization-profile-id",
     *         locale: "locale",
     *         variant: "variant"
     *     })
     */
    public getExperience(
        spaceId: string,
        environmentId: string,
        id: string,
        request: ContentfulViewDelivery.GetExperienceViewRequest = {},
        requestOptions?: ViewClient.RequestOptions,
    ): core.HttpResponsePromise<ContentfulViewDelivery.GetExperienceViewResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getExperience(spaceId, environmentId, id, request, requestOptions),
        );
    }

    private async __getExperience(
        spaceId: string,
        environmentId: string,
        id: string,
        request: ContentfulViewDelivery.GetExperienceViewRequest = {},
        requestOptions?: ViewClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContentfulViewDelivery.GetExperienceViewResponse>> {
        const { preview, accessToken, optimizationProfileId, locale, variant } = request;
        const _queryParams: Record<string, unknown> = {
            preview,
            access_token: accessToken,
            "optimization-profile-id": optimizationProfileId,
            locale,
            variant,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulViewDeliveryEnvironment.Default,
                `spaces/${core.url.encodePathParam(spaceId)}/environments/${core.url.encodePathParam(environmentId)}/experiences/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetExperienceViewResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContentfulViewDelivery.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new ContentfulViewDelivery.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new ContentfulViewDelivery.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ContentfulViewDelivery.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new ContentfulViewDelivery.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ContentfulViewDelivery.UnprocessableEntityError(
                        _response.error.body,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ContentfulViewDelivery.InternalServerError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ContentfulViewDeliveryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/spaces/{spaceId}/environments/{environmentId}/experiences/{id}",
        );
    }

    /**
     * @param {string} spaceId
     * @param {string} environmentId
     * @param {string} id
     * @param {ContentfulViewDelivery.GetExperienceWithOverridesViewRequest} request
     * @param {ViewClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ContentfulViewDelivery.BadRequestError}
     * @throws {@link ContentfulViewDelivery.UnauthorizedError}
     * @throws {@link ContentfulViewDelivery.ForbiddenError}
     * @throws {@link ContentfulViewDelivery.NotFoundError}
     * @throws {@link ContentfulViewDelivery.ConflictError}
     * @throws {@link ContentfulViewDelivery.UnprocessableEntityError}
     * @throws {@link ContentfulViewDelivery.InternalServerError}
     *
     * @example
     *     await client.view.getExperienceWithOverrides("spaceId", "environmentId", "id", {
     *         preview: "true",
     *         accessToken: "access_token",
     *         optimizationProfileId: "optimization-profile-id",
     *         locale: "locale",
     *         variant: "variant"
     *     })
     */
    public getExperienceWithOverrides(
        spaceId: string,
        environmentId: string,
        id: string,
        request: ContentfulViewDelivery.GetExperienceWithOverridesViewRequest = {},
        requestOptions?: ViewClient.RequestOptions,
    ): core.HttpResponsePromise<ContentfulViewDelivery.GetExperienceWithOverridesViewResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getExperienceWithOverrides(spaceId, environmentId, id, request, requestOptions),
        );
    }

    private async __getExperienceWithOverrides(
        spaceId: string,
        environmentId: string,
        id: string,
        request: ContentfulViewDelivery.GetExperienceWithOverridesViewRequest = {},
        requestOptions?: ViewClient.RequestOptions,
    ): Promise<core.WithRawResponse<ContentfulViewDelivery.GetExperienceWithOverridesViewResponse>> {
        const { preview, accessToken, optimizationProfileId, locale, variant, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            preview,
            access_token: accessToken,
            "optimization-profile-id": optimizationProfileId,
            locale,
            variant,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ContentfulViewDeliveryEnvironment.Default,
                `spaces/${core.url.encodePathParam(spaceId)}/environments/${core.url.encodePathParam(environmentId)}/experiences/${core.url.encodePathParam(id)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: serializers.GetExperienceWithOverridesViewRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetExperienceWithOverridesViewResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new ContentfulViewDelivery.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new ContentfulViewDelivery.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new ContentfulViewDelivery.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new ContentfulViewDelivery.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new ContentfulViewDelivery.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new ContentfulViewDelivery.UnprocessableEntityError(
                        _response.error.body,
                        _response.rawResponse,
                    );
                case 500:
                    throw new ContentfulViewDelivery.InternalServerError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.ContentfulViewDeliveryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/spaces/{spaceId}/environments/{environmentId}/experiences/{id}",
        );
    }
}
